<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD Address</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='post_method.css') }}">
</head>
<body>
    <div class="container mt-3">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div>
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
  </div>
    

        <form action="{{ url_for('add_address') }}" method="post" enctype="multipart/form-data">
        <div class="alert alert-warning" role="alert">
    Please add a delivery address before placing an order.
</div>

            <h1>ADD Address</h1>
        <label for="street">Street:</label>
        <input type="text" id="street" name="street" placeholder="Street" required>
        <br>

        <label for="city">City:</label>
        <input type="text" id="city" name="city" placeholder="City" required>
        <br>

        <label for="region">Region:</label>
        <input type="text" id="region" name="region" placeholder="Region">
        <br>

        <label for="pincode">Pincode:</label>
        <input type="text" id="pincode" name="pincode" placeholder="Pincode" required>
        <br>

        <label for="country">Country:</label>
        <input type="text" id="country" name="country" value="Country" required>
        <br>

        <button type="submit">Add Address</button>
    </form>


    <a href="{{ url_for('checkout') }}">Back to Checkout</a>
</body>
</html>
