<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose User Type</title>
</head>
<body>
    <h1>Welcome to Our Website</h1>
    <h2>Select your role</h2>



    <form action="{{ url_for('role_selection') }}" method="POST">
        <input type="radio" id="buyer" name="role" value="buyer" required>
        <label for="buyer">Buyer</label><br><br>

        <input type="radio" id="seller" name="role" value="seller" required>
        <label for="seller">Seller</label><br><br>

        <input type="submit" value="Next">
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    
</body>
</html>
