
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buyers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Buyers List</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone 1</th>
            <th>Phone 2</th>
            
        </tr>
        {% for buyer in buyers %}
        <tr>
            <td>{{ buyer['name'] }}</td>
            <td>{{ buyer['username'] }}</td>
            <td>{{ buyer['email'] }}</td>
            <td>{{ buyer['phone1'] }}</td>
            <td>{{ buyer['phone2'] }}</td>
           
        </tr>
        {% endfor %}
    </table>
    <div class="pagination">
    {% if page > 1 %}
    <a href="{{url_for('buyers',page=page-1) }}">Previous</a>
    {% endif %}

    {% for i in range(1, total_pages+1) %}
    <a href="{{url_for('buyers',page=i)}}" class="{{ 'active' if i == page else '' }}">{{ i }}</a>
    {% endfor %}

    {% if page < total_pages %}
    <a href="{{url_for('buyers',page=page+1) }}">Next</a>
    {% endif %}
    </div>
    <a href="{{ url_for('home') }}">Back to Home</a>
</body>
</html>
