<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Cart</h1>
    <table>
        <tr>
            <th>S.No</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
        {% for item in cart_items %}
        <tr>
            <td>{{ item['serial_number'] }}</td>
            <td>{{ item['product_name'] }}</td>
            <td>{{ item['price'] }}</td>
            <td>{{ item['quantity'] }}</td>
            <td>{{ item['subtotal'] }}</td>
        </tr>
        {% endfor %}
    </table>
    <div class="pagination">
    {% if page > 1 %}
    <a href="{{url_for('cart',page=page-1) }}">Previous</a>
    {% endif %}

    {% for i in range(1, total_pages+1) %}
    <a href="{{url_for('cart',page=i)}}" class="{{ 'active' if i == page else '' }}">{{ i }}</a>
    {% endfor %}

    {% if page < total_pages %}
    <a href="{{url_for('cart',page=page+1) }}">Next</a>
    {% endif %}
    </div>
    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>
