<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database Wireframe</title>
</head>
<body>
    <h1>Welcome to the Database Wireframe</h1>
    <ul>
        <li><a href="{{ url_for('sellers') }}">View Sellers</a></li>
        <li><a href="{{ url_for('buyers') }}">View Buyers</a></li>
        <li><a href="{{ url_for('products') }}">View Products</a></li>
        <li><a href="{{ url_for('cart') }}">View Cart</a></li>
        <li><a href="{{ url_for('order') }}">View Order</a></li>
        <li><a href="{{ url_for('transaction') }}">Transaction </a></li>


    </ul>
</body>
</html>
