<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Order Details</h1>
    <table>
        <tr>
            <th>Serial No</th>
            <th>Buyer Name</th>
            

            <th>Product Name</th>
            <th>Subtotal</th>
            <th>Delivery Address</th>
            <th>Payment Method</th>
            
            
        </tr>
        {% for item in order_details %}
        <tr>
            <td>{{ item['serial_no'] }}</td>
            <td>{{ item['buyer_name'] }}</td>
            

            <td>{{ item['product_title'] }}</td>
            <td>{{ item['subtotal'] }}</td>
            <td>{{ item['delivery_address'] }}</td>
            <td>{{ item['payment_method'] }}</td>
            
           
        </tr>
        {% endfor %}
    </table>
    <div class="pagination">
    {% if page > 1 %}
    <a href="{{url_for('order',page=page-1) }}">Previous</a>
    {% endif %}

    {% for i in range(1, total_pages+1) %}
    <a href="{{url_for('order',page=i)}}" class="{{ 'active' if i == page else '' }}">{{ i }}</a>
    {% endfor %}

    {% if page < total_pages %}
    <a href="{{url_for('order',page=page+1) }}">Next</a>
    {% endif %}
    </div>
    
    <a href="{{ url_for('home') }}">Back to Home</a>
</body>
</html>
