<!-- templates/product.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Products List</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Stock</th>
            <th>Category ID</th>
            <th>Expiry Date</th>
            <th>Image URL</th>
            <th>MRP</th>
            <th>Description</th>
            <th>Delivery Available</th>
            
        </tr>
        {% for product in products %}
        <tr>
            <td>{{ product['product_title'] }}</td>
            <td>{{ product['product_stock'] }}</td>
            <td>{{ product['product_category_id'] }}</td>
            <td>{{ product['product_expiry'] }}</td>
            <td><a href="{{ product['product_image'] }}" target="_blank">Image</a></td>
            <td>{{ product['product_mrp'] }}</td>
            <td>{{ product['product_description'] }}</td>
            <td>{{ "Yes" if product['delivery_available'] else "No" }}</td>
            
        </tr>
        {% endfor %}
    </table>
    <div class="pagination">
    {% if page > 1 %}
    <a href="{{url_for('products',page=page-1) }}">Previous</a>
    {% endif %}

    {% for i in range(1, total_pages+1) %}
    <a href="{{url_for('products',page=i)}}" class="{{ 'active' if i == page else '' }}">{{ i }}</a>
    {% endfor %}

    {% if page < total_pages %}
    <a href="{{url_for('products',page=page+1) }}">Next</a>
    {% endif %}
    </div>
    <a href="{{ url_for('home') }}">Back to Home</a>
</body>
</html>
