<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Product Details - AgriCulture Bootstrap Template</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">


  <!-- Fonts -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Marcellus:wght@400&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">

  <!-- Main CSS File -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  <!-- =======================================================
  * Template Name: AgriCulture
  * Template URL: https://bootstrapmade.com/agriculture-bootstrap-website-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="blog-details-page">

  <header id="header" class="header d-flex align-items-center position-relative">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="{{ url_for('index') }}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="AgriCulture">
        <!-- <h1 class="sitename">AgriCulture</h1>  -->
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
           <li><a href="{{ url_for('index') }}">Home</a></li>
        
          <li><a href="{{ url_for('services') }}">Our Services</a></li>
          
          <li><a href="{{ url_for('my_products') }}" >My Products</a></li>
          <li><a href="{{ url_for('seller_transactions') }}">Transactions</a></li>
          
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">
    <div class="container mt-3">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div>
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
</div>


    <!-- Page Title -->
    <div class="page-title dark-background" data-aos="fade" 
     style="background-image: url('{{ url_for('static', filename='img/page-title-bg.webp') }}');"> 
      <div class="container position-relative">
        <h1>Product Details 🔍</h1>
        <p>Esse dolorum voluptatum ullam est sint nemo et est ipsa porro placeat quibusdam quia assumenda numquam molestias.</p>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{{ url_for('my_products') }}">My Product</a></li>
            <li class="current">Product Details</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-6">
          <img src="{{ url_for('static', filename='uploads/' + product[3]) }}" alt="{{ product[1] }}" class="product-image img-fluid" style="max-height: 300px;">

        </div>
        
        <div class="col-lg-6 product-info">
          <div class="card p-4">
            <h2 class="text-warning text-center" style="text-transform: capitalize;">{{ product[1] }}</h2> <!-- Product Title -->
            <p><strong>Price:</strong> Rs. {{ product[2] }} per Kg</p>
            <p><strong class="text-success">In Stock:</strong> {{ product[5] }}Kg</p>
            <p><strong>🚚Product delivery:</strong> {{ 'Yes, Applicable' if product[6] == 1 else 'No' }}</p>
            <div class="d-flex">
            <a href="{{ url_for('edit_product', product_id=product[0]) }}" class="btn btn-primary me-2">Edit Product</a>
            <form action="{{ url_for('delete_product', product_id=product[0]) }}"method="POST" style="display: inline;">
              <button type="submit" class="btn btn-danger" onclick="return confirm('      Are you sure you want to delete this product?');">
              Delete Product
              </button>
            </form>
            </div>
          </div>
        </div>

      </div>
      <div class="row mt-4">
        <div class="col-lg-12">
          <h3 class="fw-bold">Product Description:</h3>
          <p class="text-muted">{{ product[4] }}</p>
        </div>
      </div>
    </div>

  </main>

 <footer id="footer" class="footer dark-background">

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6 footer-about">
            <a href="index.html" class="logo d-flex align-items-center">
              <span class="sitename">AgriCulture</span>
            </a>
            <div class="footer-contact pt-3">
              <p>35,Sapna Sangeeta Road</p>
              <p>Indore ,475005</p>
              <p class="mt-3"><strong>Phone:</strong> <span>+91 90989 62964</span></p>
              <p><strong>Email:</strong> <span>palakrathiiit@gmail.com</span></p>
            </div>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="{{ url_for('index') }}">Home</a></li>
              
             
              <li><a href="{{ url_for('services') }}">Services</a></li>
              <li><a href="{{url_for('buyer_login')}}">Buyer Login</a></li>
              <li><a href="{{url_for('seller_login')}}">Seller Login</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li>Planting</li>
              <li>Mulching</li>
              <li>Mowing</li>
              <li>Seeding</li>
              <li>Watering</li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Product Category</h4>
            <ul>
              <li>Fruits</li>
              <li>Vegetables</li>
              <li>Crops</li>
              <li>Seeds</li>
              <li>Fertilizer</li>
              <li>Pesticides</li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Location</h4>
            <ul>
              <li>Indore</li>
              <li>Ujjain</li>
              <li>Ratlam</li>
              <li>Pune</li>
              <li>Mumbai</li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="copyright text-center">
      <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

        <div class="d-flex flex-column align-items-center align-items-lg-start">
          <div>
            © Copyright <strong><span>MyWebsite</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
            Designed by <a href="https://www.linkedin.com/in/palak-rathi-3673b91bb/">Palak Rathi</a>
          </div>
        </div>

        <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
          <a href=""><i class="bi bi-twitter-x"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href="https://github.com/Pal1726"><i class="bi bi-github"></i></a>
          <a href="https://www.linkedin.com/in/palak-rathi-3673b91bb/"><i class="bi bi-linkedin"></i></a>
        </div>

      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>

  <!-- Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>


</body>

</html>