
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Transactions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1> Transactions</h1>
    <table>
        <tr>
            <th>Seller Name</th>
            <th>Buyer Name</th>
            <th>Phone Number</th>
            <th>Delivery Address</th>
            <th>Product Title</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>Payment Method</th>
        </tr>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction['seller_name'] }}</td>
            <td>{{ transaction['buyer_name'] }}</td>
            <td>{{ transaction['phone_number'] }}</td>
            <td>{{ transaction['delivery_address'] }}</td>
            <td>{{ transaction['product_title'] }}</td>
            <td>{{ transaction['quantity'] }}</td>
            <td>{{ transaction['amount'] }}</td>
            <td>{{ transaction['payment_mode'] }}</td>
        </tr>
        {% endfor %}
    </table>
    <div class="pagination">
    {% if page > 1 %}
    <a href="{{url_for('transaction',page=page-1) }}">Previous</a>
    {% endif %}

    {% for i in range(1, total_pages+1) %}
    <a href="{{url_for('transaction',page=i)}}" class="{{ 'active' if i == page else '' }}">{{ i }}</a>
    {% endfor %}

    {% if page < total_pages %}
    <a href="{{url_for('transaction',page=page+1) }}">Next</a>
    {% endif %}
    </div>
    <a href="{{ url_for('home') }}">Back to Home</a>
</body>
</html>
